/* Garante que o html e o body ocupem toda a altura da tela */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Imagem de fundo no body */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("fundo.jpg"); /* Coloque o nome da sua imagem aqui */
    background-size: cover; /* A imagem cobrirá toda a tela */
    background-position: center center; /* A imagem será centralizada */
    background-attachment: fixed; /* A imagem ficará fixa ao rolar a página */
    color: white; /* Cor do texto */
    overflow: hidden; /* Impede rolagem da página */
}

/* Conteúdo fixo na tela */
.conteudo {
    position: fixed; /* Faz o conteúdo ficar fixo na tela */
    top: 75%; /* Centraliza o conteúdo verticalmente */
    left: 50%; /* Centraliza o conteúdo horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste fino para centralizar */
    text-align: center; /* Centraliza o texto */
    z-index: 10; /* Coloca o conteúdo acima da imagem de fundo */
}

/* Formulário de assinatura */
.assinatura {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.contador {
    font-size: 44px;
    font-weight: bold;
}

.label {
    font-size: 20px;
}

/* Estilizando o rodapé */
footer {
    position: fixed; /* Fixa o rodapé na parte inferior da tela */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro */
    color: white;
    padding: 2px 0;
    text-align: center;
    font-size: 14px;
}

/* Ajustes específicos para telas pequenas (celular) */
@media screen and (max-width: 768px) {
    .conteudo {
        top: 0; /* Move o conteúdo para o topo da tela */
        left: 50%; /* Continua centralizado horizontalmente */
        transform: translateX(-50%); /* Ajuste horizontal para centralizar */
    }

    body {
        background-size: cover;
        background-image: url("fundoCel.jpg");
    }
}    
